{% extends "MelodyMatrix/base.html" %}

{% block content %}
<div class="content-section">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">Delete User</h1>
                        <p class="text-center">Are you sure you want to delete the user '{{ object.username }}'?</p>

                        <form method="post">
                            {% csrf_token %}
                            <div class="text-center">
                                <button class="btn btn-danger" type="submit">Delete</button>
                                <a href="{% url 'user_list' %}" class="btn btn-dark">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
