{% extends "MelodyMatrix/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <h3 style="font-family: 'Palatino', serif; font-weight: bold" class="text-center text-uppercase">Update User Information</h3>
                                <div class="row mt-2">
                                    {{ form.username|as_crispy_field }}
                                    {{ form.email|as_crispy_field }}
                                    {{ form.first_name|as_crispy_field }}
                                    {{ form.last_name|as_crispy_field }}
                                </div>
                                <div class="row mt-3">
                                    {{ profile_form.address|as_crispy_field }}
                                    {{ profile_form.city|as_crispy_field }}
                                    {{ profile_form.state|as_crispy_field }}
                                    {{ profile_form.zip_code|as_crispy_field }}
                                    {{ profile_form.image|as_crispy_field }}
                                </div>
                            </fieldset>
                            <p></p>
                            <div class="form-group text-center">
                                <a href="{% url 'user_list' %}" class="btn btn-dark">Back</a>
                                <button class="btn btn-dark" type="submit">Update Info</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
