{% extends "MelodyMatrix/base.html" %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mt-5">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-uppercase text-center" style="font-family: 'Palatino', serif; font-weight: bold">Password Reset Complete</h2>
            <div style="margin-bottom: 50px;"></div>
              <p class="card-text text-center" style="font-family: 'Palatino', serif; font-size: 18px;">
                  Your password has been successfully updated.<br>
                  You can now <a style="color: black; font-weight: bold;text-decoration: none;" href="{% url 'login' %}">login</a> using your new password.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div style="margin-bottom: 100px;"></div>
{% endblock %}