{% extends "MelodyMatrix/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mt-5">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-uppercase text-center" style="font-family: 'Palatino', serif; font-weight: bold">Enter New Password</h2>
               <div style="margin-bottom: 50px;"></div>
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
                <p></p>
                <div style="margin-bottom: 50px;"></div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark col-md-4 text-uppercase">Change Password</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div style="margin-bottom: 100px;"></div>
{% endblock %}