<!-- templates/registration/password_reset.html file -->

{% extends "MelodyMatrix/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mt-5">
        <div class="card">
          <div class="card-body">
              <section>
                  <img src="/media/h1_banner/MM_Logo.jpg" alt="Banner Image" style="width: 100%; height: auto;">
              </section>
              <div style="margin-bottom: 50px;"></div>
            <p class="card-text text-center" style="font-family: 'Palatino', serif; font-size: 18px;">
                Please enter the email associated with your account. <br>
                If that email is associated with an account, you will receive a link and instructions to reset your password.
            </p>
              <div style="margin-bottom: 30px;"></div>

            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
                <div style="margin-bottom: 50px;"></div>
                <div class="text-center">
                    <button class="btn btn-dark col-md-4 text-uppercase" onclick="goBack()">Back</button>
                    <button class="btn btn-dark col-md-4 text-uppercase" type="submit" >Reset Password</button>
                </div>
                <div style="margin-bottom: 40px;"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div style="margin-bottom: 200px;"></div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

{% endblock %}