{% extends "MelodyMatrix/base.html" %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 mt-5">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-uppercase text-center" style="font-family: 'Palatino', serif; font-weight: bold">Password Reset Request Submitted</h2>
            <div style="margin-bottom: 50px;"></div>
              <p class="card-text text-center" style="font-family: 'Palatino', serif; font-size: 18px;">
                We've emailed you instructions to create a new password. <br>
                If you did not receive an email, please make sure that you entered the right email associated with your account or check your spam folder.
            </p>
              <div style="margin-bottom: 40px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}