{% extends 'MelodyMatrix/base.html' %}

{% block content %}
    <!-- Page Purpose: About The Music Library -->

    {% load static %}
    <!-- Margin for visual separation -->
    <div style="margin-bottom: 50px;"></div>

    <!-- Header Section -->
    <header>
        <h1 class="text-center text-uppercase" style="font-family:'Sitka Text'; font-size: 60px; font-weight: bold ">About The Music Library</h1>
    </header>

    <!-- Main Content Section -->
    <main>
        <!-- Margin for visual separation -->
        <div style="margin-bottom: 50px;"></div>

        <!-- Our Story Section -->
        <section>
            <h3 style="font-family: Magneto; font-size: 35px" class="text-center">Our Story</h3>

            <!-- Underline for decorative purposes -->
            <div class="text-center" style="display: flex; justify-content: center;">
                <p style="border-bottom: 4px solid black; width: 6%; border-radius: 100px;"></p>
            </div>

            <!-- Margin for visual separation -->
            <div style="margin-bottom: 15px;"></div>

            <!-- Paragraphs with story content -->
            <p style="width: 75%; margin: 0 auto; padding: 6px; box-sizing: border-box; font-family: 'Palatino', serif; font-size: 18px">
                In the heart of Omaha, a unique music library, Melody Matrix, was born in the 1990s, thanks to the vision of Mr. Jason Cooper,
                a dedicated music collector with an ardent desire to share the gift of music. Mr. Cooper's personal vinyl record collection served
                as the foundation for this remarkable endeavor, with the sole purpose of lending his cherished records to the people of Omaha, much
                like a library lends books.</p>

            <p style="width: 75%; margin: 0 auto; padding: 6px; box-sizing: border-box; font-family: 'Palatino', serif; font-size: 18px" >
                Initially, the library was a cozy nook that hosted Mr. Cooper's vinyl treasures. As word spread about this unique idea, residents
                started to embrace the idea of sharing their own beloved records with the community. Inspired by the harmony and camaraderie that
                vinyl records brought, they began donating their vinyl to Melody Matrix. It didn't take long for the library's collection to grow,
                and before anyone knew it, it had surpassed 2000 vinyl records, each with its own story and melody.</p>

            <p style="width: 75%; margin: 0 auto; padding: 6px; box-sizing: border-box; font-family: 'Palatino', serif; font-size: 18px">
                Today, that vision lives on through the passionate dedication of Emma Cooper, the torchbearer of her father's dream. She believes
                that music is not only about what you hear but also about the memories, the emotions, and the connection it evokes. With her love
                for music and a desire to bridge the past and the present, she has embarked on an ambitious journey to create this digital platform
                that respects the tradition of Melody Matrix while embracing the convenience of the modern age.</p>
        </section>

        <!-- Image Section -->
        <section>
            <img src="/media/about_banner/Records.jpg" alt="Banner Image" style="width: 100%; height: auto;">
        </section>

        <!-- Margin for visual separation -->
        <div style="margin-bottom: 40px;"></div>

        <!-- Our Mission Section -->
        <section>
            <h3 style="font-family: Magneto; font-size: 35px" class="text-center">Our Mission</h3>

            <!-- Underline for decorative purposes -->
            <div class="text-center" style="display: flex; justify-content: center;">
                <p style="border-bottom: 4px solid black; width: 6%; border-radius: 100px;"></p>
            </div>

            <!-- Paragraphs with mission content -->
            <p style="width: 75%; margin: 0 auto; padding: 6px; box-sizing: border-box; font-family: 'Palatino', serif; font-size: 18px">
                Our website is the embodiment of that vision. It is a testament to our commitment to preserving the spirit of sharing and
                community that Melody Matrix was founded on. As we enter the digital age, we are excited to offer you an opportunity to
                explore our extensive vinyl catalog from the comfort of your own home.</p>

            <p style="width: 75%; margin: 0 auto; padding: 6px; box-sizing: border-box; font-family: 'Palatino', serif; font-size: 18px">
                Discover a treasure trove of over 2000 vinyl records, each with a unique story and melody. From timeless classics to
                hidden gems, our collection represents the tapestry of musical history. Dive into the world of music as you read detailed
                information about each record. Learn about the artist, the album, and the stories behind the melodies that have moved
                generations. Like a traditional library, we still believe in sharing. With just a few clicks, you can request loans,
                ensuring that the spirit of community and the love of music continue to thrive.</p>

            <div style="margin-bottom: 25px;"></div>

            <p class="text-center" style="width: 75%; margin: 0 auto; padding: 6px; box-sizing: border-box; font-family: 'Palatino', serif; font-size: 18px">
                At Melody Matrix, we are not just a digital platform; we are a bridge between the past and the present. We honor the
                legacy of Mr. Jason Cooper and celebrate the dedication of his daughter, Emma, who believes that music is a timeless
                gift meant to be shared. Our website is not just a place to explore vinyl records; it's a place to immerse yourself
                in the stories, emotions, and melodies that define our history.</p>

            <p class="text-center" style="width: 75%; margin: 0 auto; padding: 6px; box-sizing: border-box; font-family: 'Palatino', serif; font-size: 18px">
                Join us on this journey as we keep the melody alive, one click at a time.</p>
        </section>

        <!-- Margin for visual separation -->
        <div style="margin-bottom: 100px;"></div>
    </main>
{% endblock %}
