{% extends "MelodyMatrix/base.html" %}

{% block content %}
    <!-- Page Purpose: Display Genres with Sorting Options -->

    <!-- Genre Banner Section -->
    <section style="position: relative;">
        <img src="/media/about_banner/genre_banner.jpg" alt="Banner Image" style="width: 100%; height: auto;">
        <div style="position: absolute; top: 52%; left: 33%; transform: translate(-50%, -50%); color: whitesmoke;">
            <p style="font-family: Magneto; font-weight: bold; text-align: left; font-size: 200px; font-weight: bold; margin-bottom: -70px;"> Explore </p>
            <p style="font-family: 'Palatino', serif; font-weight: bold; text-align: left; font-size: 80px; font-weight: bold; margin-bottom: -35px;" class="text-uppercase"> All Genres</p>
        </div>
    </section>
    <div style="margin-bottom: 20px;"></div>

    <!-- Genre Sorting Form Section -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-md-6">
                <form method="get" action="{% url 'all_genres' %}" class="d-flex">
                    <div class="form-group me-2">
                        <!-- Dropdown for Sorting -->
                        <select class="form-control bg-dark text-white text-uppercase" id="sort" name="sort" onchange="this.form.submit()">
                            <option value="" selected disabled>Sort by</option>
                            <option value="name">Name (A-Z)</option>
                            <option value="-name">Name (Z-A)</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 20px;"></div>

    <!-- Display Genre Cards Section -->
    <div class="row row-cols-1 row-cols-md-4">
        {% for genre in genres %}
            <div class="col mb-4">
                <div class="card">
                    <!-- Wrap the image in an anchor tag with the genre detail URL -->
                    <a href="{% url 'genre_detail' pk=genre.pk %}">
                        <img src="{% if genre.image %}{{ genre.image.url }}{% else %} {% load static %}{% static 'media/default_image/default_genre.png' %} {% endif %}" class="card-img-top" alt="{{ genre.name }}">
                    </a>
                    <div class="card-body text-center">
                        <!-- Display the genre name with specified font styles -->
                        <p style="font-family: 'Palatino', serif; font-weight: bold; font-size: 20px;">{{ genre.name }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
