{% extends 'MelodyMatrix/base.html' %}

{% block content %}
    <!-- Purpose: Contact Us Page -->
    <div style="margin-bottom: 50px;"></div>

    <!-- Header Section -->
    <header>
        <h1 class="text-center text-uppercase" style="font-family:'Sitka Text'; font-size: 60px; font-weight: bold">Contact Us</h1>
    </header>

    <!-- Spacing Section -->
    <div style="margin-bottom: 50px;"></div>

    <!-- Main Content Section -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">

                <!-- Subheading Section -->
                <h1 class="text-center" style="font-family: 'Magneto', cursive; font-size: 25px; margin-bottom: 10px;">We're Here to Listen</h1>

                <!-- Divider Section -->
                <div class="text-center" style="display: flex; justify-content: center;">
                    <p style="border-bottom: 4px solid black; width: 10%; border-radius: 100px;"></p>
                </div>

                <!-- Spacing Section -->
                <div style="margin-bottom: 15px;"></div>

                <!-- Contact Information and Message Section -->
                <p style="font-family: 'Palatino', serif; font-size: 18px" class="text-center">
                    At Melody Matrix, we believe in the power of harmony, both in music and in our community. Your voice matters,
                    and we're here to listen. Whether you have questions about our music lending library, need assistance with
                    borrowing records, or have suggestions to enhance your experience, we're just a note away. Our friendly support
                    team is eager to assist you. Feel free to reach out to us via email at MelodyMatrix33@gmail.com. Thank you for being a
                    part of our harmonious community, and we eagerly anticipate hearing from you soon!
                </p>
            </div>
        </div>
    </div>

    <!-- Bottom Spacing Section -->
    <div style="margin-bottom: 150px;"></div>
{% endblock %}
