<!-- templates/MelodyMatrix/library_policies.html file displays the Library Policies -->

{% extends "MelodyMatrix/base.html" %}

{% block content %}
    {% load static %}

    <div style="margin-bottom: 50px;"></div>
    <header>
        <h1 style=" font-family:'Sitka Text'; font-weight: bold; font-size: 60px" class="text-center text-uppercase">Library Policies</h1>
    </header>
    <div style="margin-bottom: 50px;"></div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <!-- Title -->
                <h1 class="text-center" style="font-family: 'Magneto', cursive; font-size: 30px; margin-bottom: 10px;">Our Wishes</h1>
                <div class="text-center" style="display: flex; justify-content: center;">
                    <p style="border-bottom: 4px solid black; width: 10%; border-radius: 100px;"></p>
                </div>
                <div style="margin-bottom: 15px;"></div>

                <!-- Library Policy Overview -->
                <p style="font-family: 'Palatino', serif; font-size: 18px " class="text-center">
                    To make sure your musical journey with us is as delightful as the melodies we offer, we've crafted
                    some friendly guidelines. By borrowing from our library, you're not just accessing records; you're
                    becoming a cherished part of the Melody Matrix community. Here's what you need to know:
                </p>
                <div style="margin-bottom: 50px;"></div>

                <!-- Library Policies -->
                <h2 style="font-family: 'Palatino', serif; font-weight: bold; font-size: 18px; " class="text-center">Borrower Eligibility </h2>

                <p style="font-family: 'Palatino', serif; font-size: 18px ">
                    To keep our musical haven close-knit, we ask that borrowers be residents of Omaha, Nebraska.
                    This ensures that our collection resonates with the local community. Your valid proof of residency
                    is like a backstage pass,
                    inviting you into our harmonious world.
                </p>

                <h2 style="font-family: 'Palatino', serif; font-weight: bold; font-size: 18px;" class="text-center">Library Card</h2>

                <p style="font-family: 'Palatino', serif; font-size: 18px ">
                    Borrowing records is a breeze with your Melody Matrix Library Card.
                    Don't worry; it's on the house! This card is your golden ticket to our collection,
                    making your journey through musical genres a smooth process.
                </p>

                <h2 style="font-family: 'Palatino', serif;font-weight: bold; font-size: 18px; " class="text-center">Borrowing Limits</h2>

                <p style="font-family: 'Palatino', serif; font-size: 18px ">
                    We want you to explore, but to make sure everyone gets a chance, each borrower can check out
                    up to five records at a time. It's like having your own mini-concert at home!
                    And with a two-week loan period, there's ample time to savor the musical magic.
                </p>

                <h2 style="font-family: 'Palatino', serif; font-weight: bold; font-size: 18px;" class="text-center">Respect Our Vinyls</h2>

                <p style="font-family: 'Palatino', serif; font-size: 18px ">
                    Vinyl records are like old friends, handle them with care.
                    Keep them snug in their protective sleeves when not in use, ensuring that the soulful tunes remain
                    crisp and clear.
                </p>

                <h2 style="font-family: 'Palatino', serif; font-weight: bold; font-size: 18px;" class="text-center">Handling and Storage</h2>

                <p style="font-family: 'Palatino', serif; font-size: 18px ">
                    Proper handling is a key to preserving the magic. Hold records by the edges, avoiding the grooves to
                    keep the vibes undisturbed.
                    Store them in a cool, dry place away from harsh elements—your records will thank you with timeless
                    melodies.
                </p>

                <h2 style="font-family: 'Palatino', serif; font-weight: bold; font-size: 18px;" class="text-center">Late Returns</h2>

                <p style="font-family: 'Palatino', serif; font-size: 18px ">
                    Return your records by the due date, and the music will keep flowing smoothly. Late returns?
                    No worries, but a small fine of $1 per day for each overdue item ensures fairness for all.
                </p>

                <h2 style="font-family: 'Palatino', serif; font-weight: bold; font-size: 18px;" class="text-center">Damaged or Lost Records </h2>

                <p style="font-family: 'Palatino', serif; font-size: 18px ">
                    Report any damage or loss immediately. While accidents happen, a little responsibility goes a long
                    way. Replacement or repair costs may apply,
                    ensuring the ongoing harmony of our collection.
                </p>

                <h2 style="font-family: 'Palatino', serif; font-weight: bold; font-size: 18px;" class="text-center">Renewals </h2>

                <p style="font-family: 'Palatino', serif; font-size: 18px ">
                    Renew it for another two-week serenade, as long as no one else is waiting in line. It's like adding
                    an encore to your musical experience.
                </p>

                <h2 style="font-family: 'Palatino', serif; font-weight: bold; font-size: 18px;" class="text-center">Communication </h2>

                <p style="font-family: 'Palatino', serif; font-size: 18px ">
                    We're all ears for your thoughts. Share your feedback and suggestions to help us fine-tune our
                    musical services.
                    Your input is the melody that shapes a better experience for everyone.
                </p>

                <h2 style="font-family: 'Palatino', serif; font-weight: bold; font-size: 18px;" class="text-center">Compliance with Policies </h2>

                <p style="font-family: 'Palatino', serif; font-size: 18px ">
                    By borrowing from Melody Matrix, you're joining a musical pact. Following these guidelines ensures
                    that
                    our musical symphony stays in tune. Straying from the notes? That might lead to a brief pause in
                    library privileges.
                </p>

                <h2 style="font-family: 'Palatino', serif; font-weight: bold; font-size: 18px;" class="text-center">Policy Updates </h2>

                <p style="font-family: 'Palatino', serif; font-size: 18px ">
                    Our lending policy is like a living score, evolving to enhance your musical journey. Check in
                    periodically for updates,
                    so you're always on beat with the latest harmonies.
                </p>

                <div style="margin-bottom: 50px;"></div>

                <!-- Library Policies Ending -->
                <p style="font-family: 'Palatino', serif; font-size: 18px " class="text-center">
                    Thank you for being a part of the Melody Matrix community. We hope this lending policy enhances your
                    musical journey and fosters a love for vinyl records. If you have any questions or concerns, please
                    feel free to reach out to our support team. Enjoy the music!
                </p>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 200px;"></div>
{% endblock %}