{% extends 'MelodyMatrix/base.html' %}
{% block content %}
    <!-- Purpose: Display Privacy Policy -->
    <div style="margin-bottom: 50px;"></div>
    <header>
        <!-- Heading for Privacy Policy -->
        <h1 class="text-center text-uppercase" style="font-family:'Sitka Text'; font-size: 60px; font-weight: bold ">Privacy Policy</h1>
    </header>
    <div style="margin-bottom: 50px;"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <!-- Subheading and decoration -->
                <h1 class="text-center" style="font-family: 'Magneto', cursive; font-size: 30px; margin-bottom: 10px;">Our Promise</h1>
                <div class="text-center" style="display: flex; justify-content: center;">
                    <p style="border-bottom: 4px solid black; width: 10%; border-radius: 100px;"></p>
                </div>
                <div style="margin-bottom: 15px;"></div>
                <!-- Introduction and commitment -->
                <p style="font-family: 'Palatino', serif; font-size: 18px " class="text-center">
                    At Melody Matrix, we take the preservation of your musical experience seriously, just as we value your privacy and security.
                    Our commitment extends to creating a harmonious world of music where you can explore, enjoy, and share your passion
                    for music without any compromise. Here's how we handle your information in our harmonious world of music.
                </p>
                <div style="margin-bottom: 50px;"></div>
                <!-- Section: Information We Collect -->
                <h2 style="font-family: 'Palatino', serif; font-weight: bold; font-size: 18px; " class="text-center">Information We Collect</h2>
                <p style="font-family: 'Palatino', serif; font-size: 18px ">
                    To ensure the smooth rhythm of your borrowing experience, we collect essential details, including your name, address, and email.
                    These details are used to create your personalized online library card, granting you access to our extensive vinyl collection.
                </p>
                <!-- Section: How We Use Your Information -->
                <h2 style="font-family: 'Palatino', serif; font-weight: bold; font-size: 18px;" class="text-center">How We Use Your Information</h2>
                <p style="font-family: 'Palatino', serif; font-size: 18px ">
                    Your data forms the cornerstone of our service. We use it to facilitate the borrowing process, ensuring timely access
                    to our vinyl collection and personalized experiences tailored to your musical preferences.
                </p>
                <!-- Section: Data Security -->
                <h2 style="font-family: 'Palatino', serif;font-weight: bold; font-size: 18px; " class="text-center ">Data Security</h2>
                <p style="font-family: 'Palatino', serif; font-size: 18px ">
                    Our commitment to safeguarding your information is unwavering. We employ industry-standard security measures
                    to ensure that your data remains as secure as a treasured vinyl record.
                </p>
                <!-- Section: Your Rights, Your Melody -->
                <h2 style="font-family: 'Palatino', serif; font-weight: bold; font-size: 18px;" class="text-center" >Your Rights, Your Melody</h2>
                <p style="font-family: 'Palatino', serif; font-size: 18px ">
                    You hold the conductor's baton when it comes to your data. You have the right to access, modify, or even delete
                    your data. Feel free to contact us to exercise these rights or request more information about your musical journey.
                </p>
                <!-- Section: Policy Updates, Keeping the Beat -->
                <h2 style="font-family: 'Palatino', serif; font-weight: bold; font-size: 18px;" class="text-center" >Policy Updates, Keeping the Beat</h2>
                <p style="font-family: 'Palatino', serif; font-size: 18px ">
                    Just like a great melody evolves, our practices and policies may change. We may update this policy to reflect
                    the changes in our symphony or in response to regulations. So, be sure to check back periodically for any harmonious updates.
                </p>
                <div style="margin-bottom: 50px;"></div>
                <!-- Closing message -->
                <p style="font-family: 'Palatino', serif; font-size: 18px " class="text-center" >
                    Thank you for choosing Melody Matrix, your trust and satisfaction compose the melody that fuels our passion for sharing music!
                </p>
            </div>
        </div>
    </div>
{% endblock %}
