{% extends "MelodyMatrix/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Purpose: Display Return Album Form -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Heading for Return Album Form -->
                        <h2 style="font-family: 'Palatino', serif; font-weight: bold" class="text-center text-uppercase">Return Album</h2>
                        <div style="margin-bottom: 30px;"></div>
                        <!-- Form for Returning Album -->
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="text-center">
                                <!-- Submit Button and Back Button -->
                                <input type="submit" class="btn btn-dark" value="Return Album">
                                <a href="{% url 'manage_inventory' %}" class="btn btn-dark">Back to Manage Inventory</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
